<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>
</head>
<body>
    <h1 th:text="${recipe.description}">Recipe Description</h1>
    <!--Correction exercice (140)-->

    <h5>Categories:</h5>
    <ul>
        <li th:each="category : ${recipe.categories}" th:text="${category.description}">Catégorie</li>
    </ul>
    <!--Maj 161: static image-->
    <!--Maj 162: changement de src dans img-->
<!--    <img th:src="@{/images/guacamole400x400.jpg}"
         width="200" height="200">-->
    <img th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}"
         width="200" height="200">
    <a th:href="@{'/recipe/' + ${recipe.id} + '/image'}" role="button">Change Image</a>

    <!--Maj 161: static image-->
    <table>
        <tr>
            <th>Servings</th>
            <th>Prep Times</th>
            <th>Cook time</th>
            <th>Difficulty</th>
            <th>Source</th>
            <th>url</th>
        </tr>
        <tr>
            <td th:text="${recipe.servings}"></td>
            <td th:text="${recipe.prepTime} + ' min'" ></td>
            <td th:text="${recipe.cookTime} + ' min'"></td>
            <td th:text="${recipe.difficulty}"></td>
            <td th:text="${recipe.source}"></td>
            <td th:text="${recipe.url}"></td>
        </tr>
    </table>
    <h5>Ingrédients</h5>
    <ul>
        <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.amount} + ' '+ ${ingredient.uom.description} + ' of ' + ${ingredient.description}">Ingrédients</li>
    </ul>
    <a  href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}">View Ingredient</a>
    <h5>Directions</h5>
    <p th:text="${recipe.directions}">Directions</p>
    <h5>Notes</h5>
    <p th:text="${recipe.notes.recipeNotes}">Directions</p>
</body>
</html>