<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Ingredient</title>
</head>
<body>
<h1>Ingredient</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
    </tr>
    <tr>
        <td th:text="${ingredient.id}">334</td>
        <td th:text="${ingredient.amount} + ' ' + ${ingredient.uom.getDescription()} + ' ' + ${ingredient.description}">Tasty Goodnees 3</td>
    </tr>
</table>
<a th:href="@{'/recipe/' + ${ingredient.recipeId} + '/show' }">Return to Recipe</a>
</body>
</html>